.card {
    width: 350px;
    height: 350px;
    margin: 0 !important;
    padding: 0 30px !important;

    background-color: rgba(255, 255, 255, 0.44) !important;
    backdrop-filter: blur(3px);
    border: none !important;
    border-radius: 25px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.2);

    :global .ant-card-body {
        display: flex;
        flex-direction: column;
        height: 100%;

        .text-wrapper {
            flex-grow: 0;

            h2 {
                text-align: center;
            }

            h3 {
                display: flex;
            }
        }

        .img-wrapper {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            img {
                margin-bottom: 40px;
                width: 100px;
                height: 100px;
            }
        }
    }
}